@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: #eff1f5; /* Base */
		--foreground: #4c4f69; /* Text */
		--card: #e5e7eb; /* 200 */
		--card-foreground: #4c4f69; /* Text */
		--popover: #9ca0b0; /* Overlay 0 */
		--popover-foreground: #6c6f85; /* Subtext 0 */
		--primary: #8839ef; /* Mauve */
		--primary-foreground: #eff1f5; /* Base */
		--secondary: #1e66f5; /* Blue */
		--secondary-foreground: #eff1f5; /* Base */
		--accent: #7287fd; /* Lavender */
		--accent-foreground: #eff1f5; /* Base */
		--destructive: #d20f39; /* Red */
		--destructive-foreground: #eff1f5; /* Base */
		--crust: #9ca3af; /* Gray-400 */
		--input: #9ca3af; /* Gray-400 */
		--radius: 0.5rem;
	}
	.dark {
		--background: #1e1e2e; /* Base */
		--foreground: #cdd6f4; /* Text */
		--card: #45475a; /* Surface 1 */
		--card-foreground: #bac2de; /* Subtext 1 */
		--popover: #6c7086; /* Overlay 0 */
		--popover-foreground: #a6adc8; /* Subtext 0 */
		--primary: #a6e3a1; /* Green */
		--primary-foreground: #1e1e2e; /* Base */
		--secondary: #fab387; /* Peach */
		--secondary-foreground: #1e1e2e; /* Base */
		--accent: #b4befe; /* Lavender */
		--accent-foreground: #1e1e2e; /* Base */
		--destructive: #f38ba8; /* Red */
		--destructive-foreground: #1e1e2e; /* Base */
		--crust: #374151; /* Gray-700 */
		--input: #374151; /* Gray-700 */
		--radius: 0.375rem;
	}

	@font-face {
		font-family: 'Montserrat';
		src: local('Montserrat'), local('Montserrat'), local('montserrat'), local('montserrat'),
			url('/fonts/montserrat/Montserrat-Regular.ttf');
		font-weight: normal;
		font-display: swap;
	}
	@font-face {
		font-family: 'Montserrat';
		src: local('Montserrat Bold'), local('Montserrat-Bold'), local('montserrat bold'),
			local('montserrat-bold'), url('/fonts/montserrat/Montserrat-Bold.ttf');
		font-weight: bold;
		font-display: swap;
	}
}
